/* body {
  background-color: #cfcfcf;
} */
h1 {
  font-family: "Berkshire Swash", cursive;
  color: #ff5e19;
}

.bg {
  background-image: url(./images/bg.png);
  background-size: cover;
  overflow: hidden;
  height: 600px;
}

.player {
  width: 100%;
  height: 400px;
}
